.profile {
  margin: 74px auto 70px;
  max-width: 410px;
}

.profile__title {
  margin: 0 0 123px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__fieldset {
  margin: 0;
  padding: 0 0 16px 0;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__fieldset:last-of-type {
  margin: 0;
  padding: 17px 0 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__input-name {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  border: none;
  padding: 0;
  width: 70%;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__input:focus {
    outline: none;
}

.profile__button-wrapper {
  margin: 220px auto 70px;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.profile__button {
  border: none;
  padding: 0;
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
  transition: .4s all ease;
  cursor: pointer;
}

.profile__button:hover {
  opacity: .6;
}

.profile__button_type_edit {
  font-weight: 400;
}

.profile__button_type_logout {
  font-weight: 500;
  color: #EE3465;
}

.profile__button_disabled {
  color: #A0A0A0;
  cursor: auto;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto 269px;
  }

  .profile__title {
    margin: 0 0 96px 0;
  }

  .profile__button-wrapper {
    margin: 210px auto 269px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    margin: 70px auto 40px;
  }

  .profile__title {
    margin: 0 0 80px 0;
  }

  .profile__form {
    width: 81%;
    margin: auto;
  }

  .profile__button-wrapper {
    margin: 379px auto 0;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}