.search-form {
  margin: 70px auto 10px;
  max-width: 1140px;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  }

.search-form__form {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 25px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
}

.search-form__input {
  width: 100%;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__button {
  max-width: 100px;
  width: 100%;
  padding: 17px 0;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #FF6838;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: .4s all ease;
}

.search-form__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .search-form {
    margin: 70px 4px 10px;
  }

  .search-form__form {
    padding: 6px 6px 6px 12px;
  }
  
  .search-form__input {
    font-size: 16px;
    line-height: 16px;
  }

  .search-form__button {
    max-width: 80px;
    padding: 13px 0;
  }
}