.tooltip {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 70px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.3s ease-in-out;
}

.tooltip_active{
  visibility: visible;
  opacity: 1;
}

.tooltip__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(255, 104, 56, .5);
  border-radius: 10px;
  position: relative;
}

.tooltip__message {
  margin: 0;
  padding: 5px;
  max-width: 358px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}