@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);

@import url(./components/Header/header.css);

@import url(./components/Promo/Promo.css);

@import url(./components/NavTab/NavTab.css);